body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Optivenus;
  src: url(fonts/OPTIVenus-BoldExtended.otf);
}




/*----------------------Navbar-----------------------------------------*/


.Navbar {
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Nav {
  margin: 0px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  font-family: 'Optivenus';
  color: white;
}




.section {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  font-family: 'Darker Grotesque', sans-serif;
}



/*-----------------------------------Cover-----------------------------------------*/




.main {
  display: flex;
  justify-content: center;
  background-color: #BBC8D0;
  margin: 0px;
  overflow: hidden;
  min-height: 800px;
  background-image: url("./assets/MainCover.png");
  border: 2px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-tagline {
  padding: 250px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  margin: auto 100px;
  font-size: 48px;
  font-weight: 800;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
}

.about {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 0px;
  justify-content: space-between;
}

.brands {
  background-color: rgb(63, 63, 63);
  height: 80px;
}

.about-shop {
  color: white;
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 28px;
  padding: 20px 50px;
}

/*-----------------------------------Collection-----------------------------------------*/

.collection {
  background-color: white;
  padding: 50px;
  margin: 0px 40px;
  overflow: hidden;
  text-align: center;
}

.shop-grid {
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  row-gap: 25px;
}


.item-1 {
  background-color: white;
  border: 2px solid black;
  margin: 0px
}

.item-1>img {
  width: 100%;
  height: 100%;
}



/*-----------------------------------Drop-----------------------------------------*/

.drop {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

.drop-items {
  display: grid;
  margin: 50px;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding: 20px 50px;
  column-gap: 50px;
}

.drop-desc {
  color: white;
  margin: 0px auto;
  font-size: 28px;
}

.drop-desc>p {
  font-family: 'Darker Grotesque', sans-serif;
}

.drop-image {
  margin: 50px auto;
  padding: 5px;
  border: 5px ridge #B5B2AB;
}

.drop-image>img {
  width: 100%;
  height: 100%;
}



.newsletter {
  background-color: #F5F5F5;
  color: black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0px;
  justify-content: space-between;
}


.display-image {
  margin: 100px auto;
  min-width: 400px;
}


.display-image>img {
  width: 100%;
  height: 100%;
  transform: rotate(345deg);
}

.subscribe {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  margin: 80px auto;
}

.subscribe>p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
}


@media only screen and (max-width: 1000px) {
  .shop-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .collection {
    padding: 10px;
  }
}


@media only screen and (max-width: 600px) {

  .main {
    background-image: url("./assets/MainCoverMobile.jpg");
    min-height: 700px;
    margin: 20px 10px;
  }

  .about {
    margin: 20px 0px;
  }

  .about .main-tagline {
    padding: 50px;
    margin-top: auto;
  }



  .collection {
    background-color: white;
    padding: 10px;
    margin: 20px 10px;
  }

  .shop-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .section {
    display: none;
  }

  .Nav {
    margin: 0px;
  }


  .drop {
    background-color: black;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .drop-items {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    padding: 10px;
    column-gap: 30px;
    margin: 20px 10px;
  }

  .drop-desc {
    color: white;
    margin: 0px auto;
    font-size: 22px;
  }



  .newsletter {
    background-color: #F5F5F5;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

}