body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Optivenus;
  src: url(fonts/OPTIVenus-BoldExtended.otf);
}




/*----------------------Navbar-----------------------------------------*/


.Navbar {
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
}

.Nav {
  margin: 0px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  font-family: 'Optivenus';

  color: white;
}




.section {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  font-family: 'Darker Grotesque', sans-serif;
}



/*-----------------------------------Cover-----------------------------------------*/




.main {
  display: flex;
  justify-content: center;
  background-color: #BBC8D0;
  margin: 20px 80px;
  overflow: hidden;
  min-height: 800px;
  background-image: url("./assets/MainCover.png");
  border: 2px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-tagline {
  width: 300px;
  padding: 250px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  margin: auto 100px;
  font-size: 44px;
  font-weight: 800;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
}


.about {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: auto 80px;
  justify-content: space-between;
}


.brands {
  background-color: rgb(63, 63, 63);
  height: 80px;
  border: 1px solid rgb(255, 255, 255);

}

.about-shop {

  color: white;
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 28px;
  padding: 20px 50px;
}

/*-----------------------------------Collection-----------------------------------------*/




.collection {
  background-color: white;
  padding: 80px;
  margin: 0px 40px;
  overflow: hidden;
  text-align: center;
}



.shop-grid {
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 20px;

}


.item-1 {
  background-color: white;
  border: 2px solid black;
}

img {
  width: 100%;
  height: 100%;
}





@media only screen and (max-width: 600px) {


  .main {
    background-image: url("./assets/MainCoverMobile.jpg");
    min-height: 700px;
  }

  .main,
  .about {
    margin: 20px 10px;
  }

  .main-tagline {
    padding: 50px;
    margin-top: auto;
  }

  .collection {
    background-color: white;
    padding: 10px;
    margin: 20px 10px;

  }

  .shop-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .section {
    display: none;
  }

  .Nav {
    margin: 0px;
  }



}