body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Optivenus;
  src: url(fonts/OPTIVenus-BoldExtended.otf);
}




/*----------------------Navbar-----------------------------------------*/


.Nav {
  max-height: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  font-family: 'Optivenus';
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: center;
  align-items: center;

}




.section {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  font-family: 'Darker Grotesque', sans-serif;
}



/*-----------------------------------Cover-----------------------------------------*/




.main {
  display: flex;
  background-color: #BBC8D0;
  margin: 40px 80px;
  overflow: hidden;
  min-height: 800px;
  background-image: url("./assets/MainCover.png");
  border: 2px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-tagline {
  width: 300px;
  padding: 50px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  margin: auto 100px;
  font-size: 44px;
  font-weight: 800;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
}


.about {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 40px 80px;
  justify-content: space-between;
}


.brands {
  background-color: rgb(63, 63, 63);
  height: 80px;
  border: 1px solid rgb(255, 255, 255);

}

.about-shop {

  color: white;
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 28px;
  padding: 20px 50px;
}

/*-----------------------------------Collection-----------------------------------------*/




.collection {
  background-color: white;
  padding: 50px;
  text-align: center;
}

.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}


.item-1 {
  height: 100px;
  background-color: rgb(181, 181, 181);
  border: 2px solid black;
}




@media only screen and (max-width: 600px) {

  .main,
  .about {
    margin: 10px 20px;
  }

}